<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    p {
        font-size: 120%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: white;
    }
    </style>
    <style>
        .message {
            border: 5px solid darkblue;
        }
    </style>
    <style>
        body {
            background: white fixed;
        }
    </style>

</head>
<body>
<div class="message">
    <p>Здравствуйте! Вы сделали заказ в магазине Azot! Информация об обновлении статуса заказа будет приходить вам на почту.</p>
</div>
<div>
    <img src="https://products-bucket-ozon-good-vibes.s3.eu-west-1.amazonaws.com/a4c331c9-df69-410d-af9b-5b297d63594f">
</div>
</body>
</html>